> **提示**：欢迎参加“调查数据集”项目！引用段会添加这类提示，来帮助你制定调查方法。在你提交项目之前，你可以浏览一下报告，将这一段删除，以保持报告的简洁性。首先，你需要双击该 Markdown 框(cell)，将标题更改为与数据集和调查相关的标题。

# 项目：调查数据集（请用更具体的标题来代替这个标题！）

## 目录
<ul>
<li><a href="#intro">简介</a></li>
<li><a href="#wrangling">数据整理</a></li>
<li><a href="#eda">探索性数据分析</a></li>
<li><a href="#conclusions">结论</a></li>
</ul>

<a id='intro'></a>
## 简介

> **提示**：在报告的这一部分，你需要首先对已选择进行分析的数据集进行简要的介绍。在这一部分末尾，对你计划在报告过程中探索的问题进行描述。你需要建立至少包含一个因变量和三个自变量的分析报告。如果你不确定要问什么问题，请务必先熟悉数据集、数据集变量以及数据集上下文，以便确定要探索的问题。

> 如果尚未选择和下载数据，务必先进行这一步，再回到这里。如需在这个工作区中处理数据，还需要将其上传到工作区。因此，请单击左上角的 jupyter 图标，回到工作区目录。右上角有一个‘上传’按钮，可以将你的数据文件添加到工作区。然后单击 .ipynb 文件名，回到这里。

In [3]:
# 用这个框对你计划使用的所有数据包进行设置
#   导入语句。
import pandas as pd
%matplotlib inline
#df = pd.read_csv('noshowappointments-kagglev2-may-2016.csv', parse_dates=[3,4])
df = pd.read_csv('noshowappointments-kagglev2-may-2016.csv')
# 务必包含一个‘magic word’，以便将你的视图
#   与 notebook 保持一致。关于更多信息，请访问该网页：
#   http://ipython.readthedocs.io/en/stable/interactive/magics.html

<a id='wrangling'></a>
## 数据整理

> **提示**：在报告的这一部分中载入数据，检查简洁度，然后整理和清理数据集，以便进行分析。请务必将步骤仔细归档，并确定清理决策是否正确。

### 常规属性

In [4]:
# 加载数据并打印几行。进行这几项操作，来检查数据
#   类型，以及是否有缺失数据或错误数据的情况。
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [6]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
110497    False
110498    False
110499    False
110500    False
110501    False
110502    False
110503    False
110504    False
110505    False
110506    False
110507    False
110508    False
110509    False
110510    False
110511    False
110512    False
110513    False
110514    False
110515    False
110516    False
110517    False
110518    False
110519    False
110520    False
110521    False
110522    False
110523    False
110524    False
110525    False
110526    False
Length: 110527, dtype: bool

In [7]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

> **提示**：_不应_在每个 notebook 框 (cell) 中进行太多操作。可以自由创建框，来进行数据探索。在这个项目中，可以在初始 notebook 中进行大量探索性操作。不要求对其进行组织，但请务必仔细阅读备注，理解每个代码框的用途。完成分析之后，你可以创建 notebook 副本，在其中去除多余数据，组织好你的每一步分析，从而形成信息连贯、结构紧密的报告。

> **提示**：请务必向你的读者告知你在调查中采取的步骤。在每个代码框或每组相关代码框后面，用 markdown 框对前面的框中的调查结果向读者进行说明。你需要尽量做到这一点，以便读者更好地理解后续框中的内容。

### 数据清理（请用更具体的标题来代替该标题。）

In [8]:
# 在讨论数据结构和需要解决的任何问题之后，
#   在本部分的第二小部分进行这些清理步骤。
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'])

In [9]:
df.head(20)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27 08:36:51,2016-04-29,76,REPÚBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27 15:05:12,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27 15:39:58,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29 08:02:16,2016-04-29,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27 12:48:25,2016-04-29,19,CONQUISTA,0,0,0,0,0,0,No
10,7.345362e+14,5630213,F,2016-04-27 14:58:11,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,No
11,7.542951e+12,5620163,M,2016-04-26 08:44:12,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,1,Yes
12,5.666548e+14,5634718,F,2016-04-28 11:33:51,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,0,No
13,9.113946e+14,5636249,M,2016-04-28 14:52:07,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,0,No
14,9.988472e+13,5633951,F,2016-04-28 10:06:24,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,0,No
15,9.994839e+10,5620206,F,2016-04-26 08:47:27,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,1,No
16,8.457439e+13,5633121,M,2016-04-28 08:51:47,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,0,No
17,1.479497e+13,5633460,F,2016-04-28 09:28:57,2016-04-29,40,CONQUISTA,1,0,0,0,0,0,Yes
18,1.713538e+13,5621836,F,2016-04-26 10:54:18,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,1,No
19,7.223289e+12,5640433,F,2016-04-29 10:43:14,2016-04-29,46,DA PENHA,0,0,0,0,0,0,No

In [10]:
df[df['Age']< 0]

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
99832,4.659432e+14,5775010,F,2016-06-06 08:58:13,2016-06-06,-1,ROMÃO,0,0,0,0,0,0,No

In [11]:
df = df.drop(99832)

In [12]:
df[df['Handcap']> 1]

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
946,7.282582e+13,5582483,M,2016-04-14 09:26:08,2016-04-29,94,BELA VISTA,0,1,1,0,2,1,No
1665,1.242919e+13,5525497,M,2016-03-30 09:16:41,2016-04-29,64,SANTA MARTHA,0,1,0,1,2,1,No
1666,1.242919e+13,5525498,M,2016-03-30 09:16:41,2016-04-29,64,SANTA MARTHA,0,1,0,1,2,0,No
2071,1.242919e+13,5640120,M,2016-04-29 10:08:48,2016-04-29,64,SANTA MARTHA,0,1,0,1,2,0,No
2091,1.491829e+13,5638626,F,2016-04-29 08:13:59,2016-04-29,11,ANDORINHAS,0,0,0,0,2,0,No
2213,3.423831e+09,5640766,F,2016-04-29 11:22:50,2016-04-29,29,VILA RUBIM,0,0,0,0,2,0,No
2214,2.754718e+12,5640760,M,2016-04-29 11:22:20,2016-04-29,55,DO QUADRO,0,0,0,0,3,0,No
2673,4.415275e+13,5589893,M,2016-04-15 13:06:05,2016-04-29,17,SANTA TEREZA,0,0,0,0,2,1,No
5424,1.647280e+12,5647342,M,2016-05-02 13:24:36,2016-05-04,65,SANTO ANDRÉ,0,1,1,1,2,0,Yes
5467,4.555225e+12,5689883,F,2016-05-12 09:10:28,2016-05-16,10,BENTO FERREIRA,0,0,0,0,2,0,No
5475,5.662976e+14,5689889,F,2016-05-12 09:10:50,2016-05-16,34,JUCUTUQUARA,0,0,0,0,2,0,Yes
5485,6.878635e+13,5663683,F,2016-05-05 10:23:26,2016-05-09,16,SANTA TEREZA,0,0,0,0,2,0,No
5510,4.695963e+14,5658406,F,2016-05-04 11:06:48,2016-05-05,42,SÃO PEDRO,0,1,0,0,2,0,No
6067,7.543387e+12,5705981,F,2016-05-17 07:41:55,2016-05-19,10,RESISTÊNCIA,0,0,0,0,2,0,Yes
6156,2.499619e+12,5693766,F,2016-05-13 07:39:38,2016-05-17,29,SANTO ANTÔNIO,0,0,0,0,2,0,No
6401,4.887540e+13,5683453,F,2016-05-11 07:32:16,2016-05-13,19,VILA RUBIM,0,0,0,0,2,0,No
11227,1.572517e+13,5587572,M,2016-04-15 08:49:43,2016-05-19,18,RESISTÊNCIA,0,0,0,0,2,0,No
11230,1.572517e+13,5490501,M,2016-03-18 15:02:00,2016-05-19,18,RESISTÊNCIA,0,0,0,0,2,0,No
14847,4.415275e+13,5542536,M,2016-04-05 09:04:49,2016-05-05,17,SANTA TEREZA,0,0,0,0,2,1,No
15839,8.777356e+14,5645336,F,2016-05-02 09:46:27,2016-05-12,52,DE LOURDES,0,1,0,0,2,1,No
15845,8.777356e+14,5645338,F,2016-05-02 09:46:40,2016-05-12,52,DE LOURDES,0,1,0,0,2,0,No
16632,9.198994e+12,5643939,F,2016-05-02 08:04:06,2016-05-09,32,SANTA MARTHA,0,0,0,0,2,0,No
16634,9.198994e+12,5628893,F,2016-04-27 12:03:16,2016-05-02,32,SANTA MARTHA,0,0,0,0,2,0,Yes
16635,9.198994e+12,5643938,F,2016-05-02 08:04:06,2016-05-09,32,SANTA MARTHA,0,0,0,0,2,0,No
16636,9.198994e+12,5628883,F,2016-04-27 12:01:01,2016-05-02,32,SANTA MARTHA,0,0,0,0,2,0,Yes
17862,3.528117e+11,5667635,F,2016-05-06 07:59:24,2016-05-06,37,SANTO ANDRÉ,0,0,0,0,2,0,No
18241,1.335188e+14,5634881,M,2016-04-28 11:58:14,2016-05-04,4,PRAIA DO SUÁ,0,0,0,0,2,1,No
19264,3.118989e+13,5620963,F,2016-04-26 09:39:37,2016-05-10,89,ILHA DO PRÍNCIPE,0,1,0,0,2,1,Yes
19915,4.943464e+13,5626600,M,2016-04-27 08:25:25,2016-05-11,16,BELA VISTA,0,0,0,0,2,1,No
19981,8.656965e+11,5676303,M,2016-05-09 15:27:02,2016-05-12,89,BELA VISTA,0,1,1,0,2,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96173,2.539250e+14,5680027,M,2016-05-10 10:57:48,2016-06-07,82,MATA DA PRAIA,0,1,0,0,2,0,No
96457,8.678294e+13,5778090,M,2016-06-06 15:02:34,2016-06-07,29,JARDIM DA PENHA,0,0,0,0,2,0,No
96831,1.193419e+12,5720593,F,2016-05-19 14:08:28,2016-06-02,97,MARUÍPE,0,1,0,0,2,0,No
97998,3.919248e+12,5763747,F,2016-06-02 09:21:08,2016-06-02,8,TABUAZEIRO,0,0,0,0,2,0,No
98045,8.777356e+14,5783965,F,2016-06-07 14:56:08,2016-06-07,52,DE LOURDES,0,1,0,0,2,0,No
98538,4.972463e+14,5760621,M,2016-06-01 15:11:25,2016-06-03,19,SÃO PEDRO,0,0,0,0,4,0,No
99455,7.711159e+12,5764899,F,2016-06-02 11:06:13,2016-06-02,40,DO QUADRO,0,0,0,0,2,0,No
100538,2.894486e+12,5781415,M,2016-06-07 09:27:29,2016-06-07,11,GOIABEIRAS,1,0,0,0,2,0,No
101074,9.198994e+12,5673190,F,2016-05-09 09:00:57,2016-06-07,33,SANTA MARTHA,0,0,0,0,2,0,No
101911,2.738747e+11,5782399,M,2016-06-07 11:10:08,2016-06-07,84,RESISTÊNCIA,0,1,0,0,2,0,Yes
101912,2.738747e+11,5782398,M,2016-06-07 11:09:45,2016-06-07,84,RESISTÊNCIA,0,1,0,0,2,0,No
101913,2.738747e+11,5782401,M,2016-06-07 11:10:22,2016-06-07,84,RESISTÊNCIA,0,1,0,0,2,0,Yes
101949,5.947843e+11,5778232,M,2016-06-06 15:14:05,2016-06-08,12,ESTRELINHA,0,0,0,0,2,0,Yes
102276,8.656965e+11,5777565,M,2016-06-06 14:02:28,2016-06-06,89,BELA VISTA,0,1,1,0,2,0,No
102360,2.387212e+14,5757117,F,2016-06-01 09:00:14,2016-06-01,44,ROMÃO,0,1,1,0,2,0,No
102955,4.777274e+13,5776274,F,2016-06-06 10:45:58,2016-06-06,15,JOANA D´ARC,1,0,0,0,2,0,No
104268,7.581895e+14,5697136,F,2016-05-13 15:01:17,2016-06-02,9,ITARARÉ,0,0,0,0,4,1,Yes
104927,3.995198e+12,5734981,M,2016-05-24 16:35:44,2016-06-01,70,ANDORINHAS,0,0,0,1,3,0,No
104931,3.995198e+12,5734979,M,2016-05-24 16:35:44,2016-06-01,70,ANDORINHAS,0,0,0,1,3,0,No
104932,3.995198e+12,5734980,M,2016-05-24 16:35:44,2016-06-01,70,ANDORINHAS,0,0,0,1,3,0,No
105008,3.528117e+11,5781111,F,2016-06-07 09:03:12,2016-06-07,37,SANTO ANDRÉ,0,0,0,0,2,0,No
105073,7.892483e+12,5698177,F,2016-05-16 07:20:46,2016-06-01,35,BELA VISTA,1,0,1,0,2,1,No
105322,9.556215e+12,5755462,M,2016-06-01 07:23:50,2016-06-01,6,SANTA CLARA,0,0,0,0,2,0,No
105753,9.511263e+13,5753736,M,2016-05-31 14:41:50,2016-06-02,32,REDENÇÃO,0,0,0,0,2,0,No
108335,1.817725e+11,5769728,M,2016-06-03 09:11:46,2016-06-08,45,ROMÃO,0,0,0,0,2,1,No
108376,2.387212e+14,5756931,F,2016-06-01 08:48:28,2016-06-07,44,ROMÃO,0,1,1,0,2,1,No
109484,3.589495e+14,5752442,M,2016-05-31 11:45:57,2016-06-02,64,DA PENHA,0,1,1,0,2,0,No
109733,5.662976e+14,5772744,F,2016-06-03 16:11:00,2016-06-07,34,JUCUTUQUARA,0,0,0,0,2,1,No
109975,4.522185e+13,5766970,M,2016-06-02 16:07:36,2016-06-06,39,PRAIA DO SUÁ,1,0,0,0,2,1,No
110107,7.143714e+14,5761625,F,2016-06-02 06:44:00,2016-06-06,44,RESISTÊNCIA,0,0,0,0,2,1,No

In [13]:
df = df.drop(df[df['Handcap']> 1].index)

In [14]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.103270e+05,1.103270e+05,110327.000000,110327.000000,110327.000000,110327.000000,110327.000000,110327.000000,110327.000000
mean,1.475245e+14,5.675298e+06,37.070753,0.098281,0.196833,0.071605,0.030382,0.018509,0.321182
std,2.561388e+14,7.129883e+04,23.098052,0.297695,0.397607,0.257834,0.171638,0.134782,0.466932
min,3.921784e+04,5.030230e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.174584e+12,5.640278e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.175389e+13,5.680567e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439381e+13,5.725508e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

<a id='eda'></a>
## 探索性数据分析

> **提示**在你完成数据整理和清理之后，现在可以进行探索性数据分析了。你需要计算统计值，创建可视化图表，解决你在一开始的简介部分中提出的研究问题。我们推荐你采用系统化方法。一次只探索一个变量，然后探索变量之间的关系。

### 研究问题 1（请替换这一标题名称。 ）

In [15]:
#pd.plotting.scatter_matrix(df[0:500],figsize=(26, 26))
df.groupby(['No-show']).mean()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
No-show,,,,,,,,,
No,1.477015e+14,5.681124e+06,37.777090,0.093880,0.204068,0.073573,0.030404,0.019035,0.291429
Yes,1.468248e+14,5.652270e+06,34.279109,0.115675,0.168238,0.063830,0.030299,0.016429,0.438774

In [34]:
year_15 = df['ScheduledDay'].dt.year == 2015
df[year_15]
#df_15.index
#df[index]

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
3764,8.322564e+14,5030230,F,2015-11-10 07:13:56,2016-05-04,51,RESISTÊNCIA,0,0,0,0,0,1,No
27389,4.566816e+14,5156414,F,2015-12-14 08:01:54,2016-05-04,44,SANTA CECÍLIA,1,1,0,0,0,1,No
27390,4.946135e+13,5139826,M,2015-12-08 13:30:21,2016-05-11,52,SANTA CECÍLIA,0,1,0,0,0,1,Yes
27391,3.272966e+13,5140065,M,2015-12-08 13:58:50,2016-05-18,48,TABUAZEIRO,0,0,0,0,0,0,No
27392,9.427578e+11,5140258,M,2015-12-08 14:18:39,2016-05-25,68,MARUÍPE,0,0,0,0,0,1,No
27393,4.173493e+13,5140262,F,2015-12-08 14:19:05,2016-05-25,56,SANTA CECÍLIA,0,1,0,0,0,1,Yes
27554,7.415831e+12,5140133,F,2015-12-08 14:05:35,2016-05-18,78,SÃO CRISTÓVÃO,0,0,0,0,0,0,Yes
27565,1.787260e+14,5139864,M,2015-12-08 13:33:50,2016-05-11,83,SANTA CECÍLIA,0,1,0,0,1,1,Yes
27566,7.924991e+12,5140125,M,2015-12-08 14:04:28,2016-05-18,49,SÃO CRISTÓVÃO,0,0,0,0,0,0,No
27569,9.159720e+13,5156682,F,2015-12-14 08:18:34,2016-05-04,36,SÃO CRISTÓVÃO,1,0,0,0,0,1,No
27570,2.199426e+13,5139859,F,2015-12-08 13:33:28,2016-05-11,57,TABUAZEIRO,0,0,0,0,0,1,No
27571,7.279665e+13,5140115,M,2015-12-08 14:03:40,2016-05-18,68,MARUÍPE,0,1,0,0,0,0,Yes
27572,3.676234e+13,5140326,F,2015-12-08 14:25:42,2016-05-25,56,MARUÍPE,0,1,0,0,0,1,No
27573,1.489955e+12,5156678,F,2015-12-14 08:18:13,2016-05-04,88,MARUÍPE,0,1,0,0,1,1,No
27574,3.853968e+13,5139857,F,2015-12-08 13:33:09,2016-05-11,39,SÃO CRISTÓVÃO,0,0,0,0,0,1,No
27575,1.442144e+13,5140112,F,2015-12-08 14:03:23,2016-05-18,57,MARUÍPE,0,0,0,0,0,0,No
27576,3.585362e+13,5140323,F,2015-12-08 14:24:54,2016-05-25,45,SANTA CECÍLIA,0,1,0,0,0,1,No
27583,9.782191e+12,5139853,F,2015-12-08 13:32:34,2016-05-11,55,MARUÍPE,0,1,0,0,0,1,Yes
27584,1.864435e+13,5140105,F,2015-12-08 14:03:00,2016-05-18,58,MARUÍPE,0,1,0,0,0,0,No
27585,7.819484e+13,5140317,F,2015-12-08 14:24:30,2016-05-25,40,MARUÍPE,0,1,0,0,0,1,No
27588,1.419212e+12,5139848,F,2015-12-08 13:32:14,2016-05-11,53,SANTA CECÍLIA,0,1,0,0,0,1,Yes
27590,9.919788e+12,5140100,M,2015-12-08 14:02:31,2016-05-18,89,MARUÍPE,0,1,0,0,0,0,No
27592,7.773849e+12,5156441,F,2015-12-14 08:03:20,2016-05-04,58,MARUÍPE,0,1,0,0,0,1,No
27593,1.888996e+14,5139839,F,2015-12-08 13:31:45,2016-05-11,76,SANTA CECÍLIA,0,1,0,0,0,1,No
27594,9.217285e+13,5140090,F,2015-12-08 14:02:04,2016-05-18,70,MARUÍPE,0,1,0,0,0,0,No
27595,9.541544e+12,5140310,F,2015-12-08 14:23:47,2016-05-25,69,MARUÍPE,0,1,0,0,0,0,No
27596,4.868162e+12,5156433,F,2015-12-14 08:02:57,2016-05-04,68,SANTA CECÍLIA,0,1,0,0,0,1,No
27597,7.319785e+14,5139834,F,2015-12-08 13:31:21,2016-05-11,66,MARUÍPE,0,1,0,0,0,1,No
27598,8.331485e+14,5140081,F,2015-12-08 14:01:28,2016-05-18,74,MARUÍPE,0,1,0,0,0,0,No
27599,4.688524e+12,5140281,F,2015-12-08 14:20:56,2016-05-25,62,MARUÍPE,0,1,0,0,0,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27605,3.287886e+12,5140074,M,2015-12-08 14:00:52,2016-05-18,76,MARUÍPE,0,1,0,0,0,0,No
27606,1.686763e+11,5140272,M,2015-12-08 14:20:08,2016-05-25,70,MARUÍPE,1,1,0,0,0,1,No
27608,7.279665e+13,5139831,M,2015-12-08 13:30:41,2016-05-11,68,MARUÍPE,0,1,0,0,0,1,Yes
27609,5.596785e+14,5140069,F,2015-12-08 13:59:33,2016-05-18,82,MARUÍPE,0,1,0,0,0,0,No
46292,9.163747e+13,5122866,M,2015-12-03 08:17:28,2016-05-02,34,VILA RUBIM,0,1,0,0,0,1,Yes
102786,4.542871e+11,5134227,M,2015-12-07 10:43:34,2016-06-03,67,MARUÍPE,0,1,1,0,0,0,No
102788,2.547555e+14,5134249,F,2015-12-07 10:45:01,2016-06-03,63,SÃO CRISTÓVÃO,0,1,1,0,0,1,No
102789,3.112342e+13,5134239,F,2015-12-07 10:44:25,2016-06-03,60,SÃO CRISTÓVÃO,0,1,1,0,0,1,No
102790,9.965348e+14,5134243,M,2015-12-07 10:44:40,2016-06-03,73,MARUÍPE,0,1,1,0,0,0,No
102791,9.416259e+14,5134228,F,2015-12-07 10:43:50,2016-06-03,77,SÃO CRISTÓVÃO,0,1,1,0,0,1,No
102792,3.512659e+14,5134233,M,2015-12-07 10:44:07,2016-06-03,73,MARUÍPE,0,1,1,0,1,0,Yes
102795,1.216587e+12,5134197,F,2015-12-07 10:40:59,2016-06-03,27,SÃO CRISTÓVÃO,1,0,0,0,0,1,Yes
102796,9.582232e+12,5134223,F,2015-12-07 10:43:01,2016-06-03,80,SÃO CRISTÓVÃO,0,1,1,0,0,1,No
102797,3.189960e+13,5134220,F,2015-12-07 10:42:42,2016-06-03,48,MARUÍPE,0,1,1,0,0,1,No
102799,3.516254e+12,5134224,F,2015-12-07 10:43:17,2016-06-03,74,SÃO CRISTÓVÃO,0,1,1,0,0,1,No
102801,6.526786e+11,5140453,F,2015-12-08 14:43:14,2016-06-01,84,MARUÍPE,0,1,0,0,0,0,No
102802,6.587627e+12,5163395,M,2015-12-15 10:20:53,2016-06-08,61,SANTA CECÍLIA,0,1,0,0,0,1,Yes
102803,3.624379e+12,5140456,M,2015-12-08 14:43:34,2016-06-01,83,SANTA CECÍLIA,0,1,0,0,0,1,Yes
102804,3.671340e+14,5163402,F,2015-12-15 10:21:19,2016-06-08,73,MARUÍPE,0,1,0,0,0,1,No
102805,9.399193e+14,5140459,F,2015-12-08 14:43:52,2016-06-01,76,SANTA CECÍLIA,0,1,0,0,0,0,Yes
102807,3.617761e+13,5140463,F,2015-12-08 14:44:16,2016-06-01,70,MARUÍPE,0,0,0,0,0,1,No
102808,7.931567e+11,5163422,M,2015-12-15 10:24:12,2016-06-08,52,SÃO CRISTÓVÃO,1,1,0,0,0,1,No
102811,8.853140e+11,5140465,F,2015-12-08 14:44:39,2016-06-01,86,MARUÍPE,0,1,0,0,0,1,No
102812,5.817551e+12,5163425,F,2015-12-15 10:24:32,2016-06-08,75,TABUAZEIRO,0,1,0,0,0,1,No
102815,5.649261e+12,5140469,F,2015-12-08 14:45:00,2016-06-01,43,MARUÍPE,0,0,0,0,0,1,No
102819,4.351784e+13,5163433,F,2015-12-15 10:25:40,2016-06-08,58,SANTA CECÍLIA,0,1,0,0,0,1,No
102868,5.294315e+11,5140446,F,2015-12-08 14:42:31,2016-06-01,76,MARUÍPE,0,1,0,0,0,1,Yes
102870,2.938344e+14,5163386,F,2015-12-15 10:19:31,2016-06-08,29,SÃO CRISTÓVÃO,0,0,0,0,0,0,No
102871,7.981657e+13,5140432,F,2015-12-08 14:41:08,2016-06-01,61,MARUÍPE,0,1,0,0,0,1,Yes
102872,2.552524e+14,5163351,F,2015-12-15 10:15:50,2016-06-08,47,MARUÍPE,0,1,0,0,0,1,Yes

In [ ]:
# 用这个代码框和其它代码框探索数据。请务必记得添加
#   Markdown 框，以便记录你的观察和调查结果。

$ 没有就诊的病人的百分比 = \frac{没有就诊的病人}{总人数} $

In [81]:
data = df.groupby(['No-show']).count()['PatientId']
nsp = data[1]/(data[0]+data[1])
print(nsp)

0.2019269988307486

In [78]:
pt = df['AppointmentDay']-df['ScheduledDay'] > pd.Timedelta('7 days')
data = df[pt].groupby(['No-show']).count()['PatientId']
nsp_7 = data[1]/(data[0]+data[1])
print(nsp_7)

0.3205418744019741

In [79]:
pt = df['AppointmentDay']-df['ScheduledDay'] > pd.Timedelta('30 days')
data = df[pt].groupby(['No-show']).count()['PatientId']
nsp_30 = data[1]/(data[0]+data[1])
print(nsp_30)

0.3297000096459921

In [80]:
pt = df['AppointmentDay']-df['ScheduledDay'] > pd.Timedelta('100 days')
data = df[pt].groupby(['No-show']).count()['PatientId']
nsp_100 = data[1]/(data[0]+data[1])
print(nsp_100)

0.2971014492753623

### 研究问题 2（请替换这一标题名称。）

In [ ]:
# 请继续探索数据，解决你额外的研究问题。
#   如果有其它问题要调查，
#   请根据需要添加更多标题。

<a id='conclusions'></a>
## 结论

> **提示**：最后，你需要总结自己的调查结果。请确保你了解在探索过程中的局限性。如果尚未进行任何统计检验，不要做出任何统计结论。切记不要根据相关关系贸然推导出因果关系！

> **提示**：如果你对自己的研究成果感到满意，应将其副本保存为 HTML 或 PDF 形式。在导出报告之前请检查一遍，确保报告结构完整，信息连贯。应删除所有类似的“提示”引用段，以保持报告中的简洁度。在提交之前，你还需要查看在课程结尾的项目提交页面中的项目审阅规范。

> 如需将报告导出到工作区，你可以运行下面的代码框。如果正确，会返回代码 0，工作区目录下会生成 .html 文件（单击左上角的 jupyter 图标）。也可以通过 **文件** > **下载为** 子菜单下载 html 报告，然后手动上传到工作区目录。完成之后，可以单击右下角的“提交项目”，来提交你的项目。恭喜你！

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])